<%if current_user.isLawyer?%>
<h1 class="text-center mb-4">Lawyer Dashboard</h1>
<%elsif current_user.isInsuranceAgent?%>
<h1 class="text-center mb-4">Insurance Agent Dashboard</h1>
<%end%>

<div class="container">
    <div class="row">
        <div class="col overflow-auto">
            <%=render "action_needed"%>
            <%=render "waiting_on"%>
        </div>
        <div class="col">
            <%=render "active_settlements"%>
        </div>
    </div>
</div>