<%if current_user.isAttorney?%>
<h1 class="text-center mb-4">Attorney Dashboard</h1>
<%elsif current_user.isAdjuster?%>
<h1 class="text-center mb-4">Adjuster Dashboard</h1>
<%end%>

<div class="container">
    <div class="row">
        <div class="col overflow-auto">
            <%=render "settlements/action_needed"%>
            <%=render "settlements/waiting_on"%>
        </div>
        <div class="col">
            <%=render "settlements/active_settlements"%>
        </div>
    </div>
</div>