<h1 class="text-center">Documents Index</h1>

<table>
    <thead>
        <tr>
            <td>Filename</td>
            <td>Added by</td>
            <td>Date added</td>
        </tr>
    </thead>
    <tbody>
        <%@settlement.documents.each do |d|%>
            <tr>
                <td><%=d.pdf.filename%></td>
                <td><%=d.added_by%></td>
                <td><%=d.created_at.in_time_zone("Central Time (US & Canada)").strftime("%B %-d, %Y")%></td>
                <td></td>
            </tr>
        <%end%>
    </tbody>
</table>