<div class="mx-auto w-50">
    <div class="card">
        <h3 class="card-header text-center">Start a New Settlement</h3>
        <%=render "form", path: settlement_create_path(@partner), submit_label: "Start"%>
    </div>
</div>

