<h1 class="text-center text-success">Payment Processing!</h1>
<p class="text-center">Your payment is currently processing with Stripe and should be complete in 3-5 days.</p>

<div class="w-25 m-auto">
    <%=link_to "Go to Dashboard", root_path, class: "btn btn-lg btn-primary w-100"%>
</div>