<div class="container my-4">
    <div class="card">
        <div class="card-body">
            <div id="stripe_payment_element" data-secret="<%=@secret%>" data-stripe-acct="<%=@stripe_account%>" data-return-url="<%=path_to_url(@continue_path)%>">

            </div>
            <div class="d-flex gap-2">
                <button id="submit_elements_button" class="btn btn-primary">Save</button>
                <%=link_to 'Cancel', @continue_path, class: "btn btn-outline-primary" if @continue_path%>
            </div>
        </div>
    </div>
</div>

