<h1 class="mb-2 text-center">This is the Release Form show page!</h1>
<div class="mb-4 text-center">
    <%=link_to "Download (PDF)", rails_blob_path(@document.pdf, disposition: "attachment")%>
</div>

<embed src="<%=rails_blob_path(@document.pdf)%>" type="application/pdf" width="595" height="770" style="border: none;" class="mx-auto w-50">
