<h2 class="text-center">Sign up</h2>
<div class="mx-auto w-50">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do%>
    <div class="container">
      <div class="row">
        <div class="col form-group px-0" style="padding-left: 0rem; padding-right: 0.5rem;">
          <label for="user_first_name" class="form-label mb-0 mt-2">First name</label>
          <input type="text" autofocus="autofocus" class="form-control" id="user_first_name" placeholder="First name" name="user[first_name]">
        </div>
        <div class="col form-group" style="padding-left: 0.5rem; padding-right: 0rem;">
          <label for="user_last_name" class="form-label mb-0 mt-2">Last name</label>
          <input type="text" class="form-control" id="user_last_name" placeholder="Last name" name="user[last_name]">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="user_email" class="form-label mb-0 mt-2">Email address</label>
      <input class="form-control" autocomplete="email" type="email" name="user[email]" id="user_email" placeholder="Email">
      <%#<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone.</small>%>
    </div>

    <div class="form-group">
      <label for="user_password" class="form-label mb-0 mt-2">Password</label>
      <input type="password" class="form-control" id="user_password" placeholder="Password" name="user[password]">
    </div>

    <div class="form-group">
      <label for="user_password_confirmation" class="form-label mb-0 mt-2">Confirm Password</label>
      <input type="password" class="form-control" id="user_password_confirmation" placeholder="Confirm password" name="user[password_confirmation]">
    </div>

    <div class="form-group">
      <label for="user_role" class="form-label mb-0 mt-2">Role</label>
      <select class="form-select" id="user_role" name="user[role]">
        <%if @role == "Insurance Agent"%>
          <option selected>Insurance Agent</option>
          <option>Attorney</option>
        <%else%>
          <option>Insurance Agent</option>
          <option selected>Attorney</option>
        <%end%>
      </select>
    </div>

    <button type="submit" name="commit" class="btn btn-primary mt-4" data-disable-with="Sign up">Sign up</button>
  <% end %>
</div>
<br>
<%= render "devise/shared/links" %>
