<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>You have a revised document to review.</h1>
        <p>
            <%= @document.insurance_company_name %> has submitted a revised docuement for review. Please login to SDE to approve or reject this document.
        </p>
    </body>
</html>