<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>You have a new document to review.</h1>
        <p>
            A new document has been submitted for review. Please login to SDE to approve or reject the document.
        </p>
    </body>
</html>