<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>You have a revised document to review.</h1>
        <p>
            A revised document has been resubmitted. Please login to SDE to approve or reject this document.
        </p>
    </body>
</html>