<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations, a document has been approved!</h1>
    <p>
      A document that was submitted for review has been approved. You can review the approved documents on SDE.
    </p>
  </body>
</html>