<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bad news! A document that was submitted has been rejected.</h1>
    <p>
      A submitted document was rejected. Please login to SDE to review and correct the docuement.
    </p>
  </body>
</html>