<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations, <%= @document.claim_number %> has been approved!</h1>
    <p>
      The document submitted for the above claim number has been approved. You may log into SDE to review if needed.
    </p>
  </body>
</html>