<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Claim: <%= @document.claim_number %> has been rejected!</h1>
    <p>
      The document submitted for the above claim number has been rejected. Please login to SDE to review and correct the docuement.
    </p>
  </body>
</html>