<div class="mx-auto w-50">
    <div class="card">
        <h2 class="text-center card-header">New <%=member_role_name(current_user).capitalize%> Account</h2>
        <div class="card-body">
        <%= form_with model: @member, url: organization_create_member_path(@organization, @member), local: true do |f|%>
            <div class="container">
                <div class="row">
                    <div class="col form-group" style="padding-left: 0rem; padding-right: 0.5rem;">
                        <label for="user_first_name" class="form-label mb-0 mt-2">First name</label>
                        <input type="text" autofocus="autofocus" class="form-control" id="user_first_name" placeholder="First name" name="user[first_name]" required autocomplete="off">
                    </div>
                    <div class="col form-group" style="padding-left: 0.5rem; padding-right: 0rem;">
                        <label for="user_last_name" class="form-label mb-0 mt-2">Last name</label>
                        <input type="text" class="form-control" id="user_last_name" placeholder="Last name" name="user[last_name]" required autocomplete="off">
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group px-0">
                        <label for="user_email" class="form-label mb-0 mt-2">Email address</label>
                        <input class="form-control" autocomplete="email" type="email" name="user[email]" id="user_email" placeholder="Email" required autocomplete="off">
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group" style="padding-left: 0rem; padding-right: 0.5rem;">
                        <label for="user_password" class="form-label mb-0 mt-2">Password</label>
                        <input type="password" class="form-control" id="user_password" placeholder="Password" name="user[password]" required autocomplete="new-password">
                    </div>
                    <div class="col form-group" style="padding-left: 0.5rem; padding-right: 0rem;">
                        <label for="user_password_confirmation" class="form-label mb-0 mt-2">Confirm Password</label>
                        <input type="password" class="form-control" id="user_password_confirmation" placeholder="Confirm password" name="user[password_confirmation]" required autocomplete="off">
                    </div>
                </div>
            </div>
            <button type="submit" name="commit" class="btn btn-lg btn-primary w-100 mt-4" data-disable-with="Sign up">Create account</button>  
        <%end%>
        </div>
    </div>
</div>