<h1 class="text-center"><%=current_user.full_name%> Dashboard</h1>
<p class="text-center">What would you like to do?</p>

<div class="container mx-auto w-50">
    <div class="row">
        <div class="col d-grid gap-2">
            <button class="btn btn-lg btn-primary" type="button">Accept new member</button>
            <button class="btn btn-lg btn-primary" type="button">Invite member</button>
            <button class="btn btn-lg btn-primary" type="button">Block button</button>
        </div>
        <div class="col d-grid gap-2">
            <button class="btn btn-lg btn-primary" type="button">Block button</button>
            <button class="btn btn-lg btn-primary" type="button">Block button</button>
            <button class="btn btn-lg btn-primary" type="button">Block button</button>
        </div>
    </div>
</div>