<h1 class="text-center"><%=@organization.business_name%></h1>

<div class="container">
    <div class="row">
        <div class="col text-end">
            Stripe charges enabled:
        </div>
        <div class="col">
            <%if @stripe_account.charges_enabled%>
                ✔️
            <%else%>
                ❌
            <%end%>
        </div>
        <div class="col text-end">
            Stripe details submitted:
        </div>
        <div class="col">
            <%if @stripe_account.details_submitted%>
                ✔️
            <%else%>
                ❌
            <%end%>
        </div>
    </div>
</div>


