<div class="card text-white bg-dark h-100">
    <div class="card-header"><h4 class="m-0">Active Settlements</h4></div>
    <div class="list-group overflow-auto" style="max-height: 100%;">
        <%10.times do |i|%>
            <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                Settlement #<%=i+1%>
            </a>
        <%end%>
    </div>
</div>