<span class="badge rounded-pill bg-success" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left"> </span>
<span class="badge rounded-pill bg-warning"> </span>
<span class="badge rounded-pill bg-secondary"> </span>