<div class="card text-white bg-dark">
    <div class="card-header"><h4 class="m-0">Waiting...</h4></div>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
            <span class="badge bg-primary rounded-pill" style="width: 2rem; margin-right: 0.5rem;">0</span>
            Documents waiting for adjustment.
        </a>
        <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
            <span class="badge bg-primary rounded-pill" style="width: 2rem; margin-right: 0.5rem;">3</span>
            Documents waiting for signature.
        </a>
    </div>
</div>