<h1 class="text-center text-primary">New Release Form!</h1>
<h5 class="text-center">Would you like to generate a release form or upload your own?</h5>

<div class="mt-5 d-grid gap-2">
    <%=link_to "Generate", generated_release_form_new_path, class: "w-25 mx-auto btn btn-lg btn-primary"%>
    <p class="w-50 mx-auto text-center">Generating your release form saves you from having to write and format one yourself. However, this comes at the cost of flexibility.</p>
    <%=link_to "Upload", release_form_new_path, class: "w-25 mx-auto mt-3 btn btn-lg btn-primary"%>
    <p class="w-50 mx-auto text-center">Uploading your own release form gives you more flexibility when it comes to phrasing and formatting. However, you have to write it yourself before you upload it to Settlement Done Easy.</p>

</div>

