<div class="w-100">
    <div class="bg-blue-gradient-down">
        <div class="container position-relative">
            <div class="d-flex align-items-center" style="height: 95vh;">
                <div class="mb-5 pb-5">
                    <p class="m-0 text-secondary display-6 opacity-50">Welcome to</p>
                    <h1 class="m-0 display-1 text-secondary">Settlement Done Easy</h1>
                    <h5 class="m-0 text-secondary opacity-50">This is a working proof of concept developed for Shannon Elsea.</h5>
                    <div class="mt-5 d-flex gap-3">
                        <%=link_to "Get started", new_user_registration_path, class: "btn btn-outline-secondary text-secondary btn-lg"%>
                        <%=link_to "Contact us", under_construction_path(continue_path: root_path), class: "btn btn-outline-secondary text-secondary btn-lg"%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light" style="padding-top: 9rem; padding-bottom: 9rem;">
        <div class="container">
            <h1>What is Settlement Done Easy?</h1>
            <p class="m-0">
                Settlement Done Easy (SDE) is a settlement mediator between law firms and insurance companies designed to make processing settlements easier and faster by processing documents and associated settlement proceeds electronically.
                SDE facilitates the exchange of the electronically signed release documents for an ACH settlement e-check deposited instantly in the law firm’s escrow account. The electronic payment of settlement the SDE is permitted by all State Bar Associations in the U.S.,
                though some states, do have specific requirements.
            </p>
        </div>
    </div>
    <div class="bg-blue-gradient-up" style="padding-top: 9rem; padding-bottom: 9rem;">
        <div class="container">
            <div class="row">
                <div class="col border-end">
                    <h1 class="align-text-end text-secondary">For Law Firms</h1>
                    <p class="m-0 text-secondary">
                        SDE shortens the time to conclude a settlement with ACH e-checks deposited into a law firms escrow account from days or weeks to minutes. After the first such ACH transfer, monies clear the bank in 2 business days. (First ACH Transfer can take
                        up to 7 business days to clear.) A settlement concluded through SDE on a Tuesday could be disbursed to a client the same week.
                    </p>
                </div>
                <div class="col">
                    <h1 class="text-secondary">For Insurance Companies</h1>
                    <p class="m-0 text-secondary">
                        SDE allows adjusters to resolve claims and transmit e-checks remotely, from any-where they have internet access. No more lost/delayed checks, FedEx overnight charges, or calls from angry lawyers looking for settlement checks. SDE does all this at a rate cheaper and faster than the carrier’s postage/FedEx budget.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

