<%if current_user.isLawyer?%>
<h1 class="text-center mb-4">Lawyer Dashboard</h1>
<%elsif current_user.isInsuranceAgent?%>
<h1 class="text-center mb-4">Insurance Agent Dashboard</h1>
<%end%>

<div class="container" style="height: 20.4rem;">
    <div class="row h-100">
        <div class="col h-100">
            <%=render "action_needed"%>
            <%=render "waiting_on"%>
        </div>
        <div class="col h-100">
            <%=render "active_settlements"%>
        </div>
    </div>
</div>