<h1 class="text-center">Welcome to Settlement Done Easy!</h1>
<p class="text-center text-muted">This is a working proof of concept developed for Shannon Elsea.</p>

Settlement Done Easy (SDE) is a settlement mediator between law firms and insurance companies 
designed to make processing settlements easier and faster. Documents and associated 