<div class="row">
    <div class="col-auto p-0">
        <ul class="nav flex-column bg-light nav-tabs">
            <li class="nav-item">
                <a class="nav-link text-center" href="">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" href="">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" href="">Wallet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" href="">Billing</a>
            </li>
        </ul>
    </div>
    <div class="col bg-danger p-0">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="m-0">Details</h3>
                            <%if current_user.activated?%>
                                <h6 class="card-subtitle text-success m-0">Your account has been activated.</h6>
                            <%else%>
                                <h6 class="card-subtitle text-danger  m-0">Your account is not activated.</h6>
                            <%end%>
                        </div>
                        <div class="card-body">
                        
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">

                        </div>
                        <div class="card-body">
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>