<h1 class="text-center">TESTING AREA</h1>



<%=link_to "Stripe::AccountLink.create()", stripe_onboard_account_link_path%>
<br>
<%=link_to "get_ds_envelope_status", settlement_get_ds_envelope_status_path(Settlement.first)%>