<h1 class="text-center text-primary">Sign Up!</h1>
<h5 class="text-center">Are you an Insurance Agent or a Counselor?</h5>

<div class="mt-5 d-grid gap-2">
    <%=link_to "Insurance Agent", new_user_registration_path(:role => "Insurance Agent"), class: "w-50 mx-auto btn btn-lg btn-primary"%>
    <%=link_to "Counselor", new_user_registration_path(:role => "Counselor"), class: "w-50 mx-auto btn btn-lg btn-primary"%>
</div>

