<div data-dv-id="<%=document.public_id%>" class="hidden">
    <div class="container">
        <div class="position-relative d-flex h-100">
            <div class="overflow-auto gap-2 d-grid py-5" style="max-height: 100vh; -ms-overflow-style: none; scrollbar-width: none;">
                <%document.pages.each_with_index do |page, i|%>
                    <div class="d-flex justify-content-center align-items-center mt-4">
                        <div name="page-wrapper" class="position-relative">
                            <%= image_tag url_for(page), class: "rounded bg-light", style: "max-width: 100%;"%>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>

