<div class="container my-4">
    <div class="card mx-auto-lg w-50-lg">
        <div class="card-header">
            <h4 class="m-0">New Document</h4>
        </div>
        <div class="card-body">

        </div>
    </div>
</div>