<div class="row">
    <%if current_user == @owner%>
        <div class="col-auto">
            <%=render "user_profile/settlements/whats_next_card"%>
        </div>
    <%end%>
    <div class="col">
        <%=render "user_profile/settlements/active_settlements_card"%>
    </div>
</div>