<div class="row">
    <div class="col-auto">
        <%=render "user_profile/settlements/whats_next_card"%>
    </div>
    <div class="col">
        <%=render "user_profile/settlements/active_settlements_card"%>
    </div>
</div>