<div class="card" style="min-width: 20.1rem; height: 400px;" data-test-id="whats_next_card">
    <div class="card-header d-flex justify-content-between align-items-center" style="min-height: 64px;">
        <h4 class="m-0">What's Next?</h4>
        <%=form_with url: settlement_search_path, method: :post, html: {type: :search} do |f|%>
            <button id="reset_search_results_button" type="submit" class="btn btn-secondary btn-sm" style="display: none;" data-test-id="reset_settlement_search_button">
                Reset
            </button>
        <%end%>
    </div>
    <div class="list-group list-group-flush h-100 overflow-auto" id="whats_next_messages" data-test-id="whats_next_action_list">
        <%=whats_next_action_messages%>
        <%=whats_next_wait_messages%>
    </div>
</div>