
<div class="mx-auto w-50 d-grid gap-2">
    <h1 class="text-center">Account Setup Incomplete</h1>
    <p class="text-center">You are currently unable to accept settlement payments because your Stripe account setup was not completed.</p>  
    <%if @stripe_account.details_submitted%>
    <%=link_to "Continue setup", stripe_login_link_path, class: "btn btn-lg btn-primary"%>
    <%else%>
    <%=link_to "Continue setup", stripe_onboard_account_link_path, class: "btn btn-lg btn-primary"%>
    <%end%>

    <%=link_to "Set up later (Go to Dashboard)", root_path, class: "btn btn-lg btn-secondary"%>
</div>