<div class="modal fade" name="password-confirmation-modal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Password Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <p class="mt-0">Enter your password to update your account.</p>
                <%=form_for(current_user, url: registration_path(current_user), html: { autocomplete: "off", method: :put, id: "password-confirmation-form" }) do |f| %>
                    <div class="form-group">
                        <%=f.label :password, class: "form-label"%>
                        <%=f.password_field :current_password, class: "form-control", placeholder: "", autocomplete: "current-password"%>
                        <div class="invalid-feedback" style="display: none;" name="password-confirmation-incorrect-password-error-message">Incorrect password</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Cancel">Cancel</button>
                    <button type="button" class="btn btn-primary" name="submit-edit-user-button">Update</button>
                </div>
            <%end%>
        </div>
    </div>
</div>