<div class="row">
    <div class="col-auto">
        <div class="card my-3">
            <div class="card-body">
                <h5 class="m-0">Next Steps</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h6 class="m-0">Send </h6>
                    <h6 class="m-0">N/A</h6>
                </li>
                <li class="list-group-item">
                    <p class="text-muted m-0">Canceled</p>
                    <h6 class="m-0">N/A</h6>
                </li>
                <li class="list-group-item">
                    <p class="text-muted m-0">Average settlement</p>
                    <h6 class="m-0">N/A</h6>
                </li>
                <li class="list-group-item">
                    <p class="text-muted m-0">Total settled</p>
                    <h6 class="m-0">N/A</h6>
                </li>                                
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="card my-3">
            <div class="card-body">
                <h5 class="m-0">Active Settlements</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="text-muted m-0">Completed</p>
                    <h6 class="m-0">N/A</h6>
                </li>
                <li class="list-group-item">
                    <p class="text-muted m-0">Canceled</p>
                    <h6 class="m-0">N/A</h6>
                </li>
                <li class="list-group-item">
                    <p class="text-muted m-0">Average settlement</p>
                    <h6 class="m-0">N/A</h6>
                </li>
                <li class="list-group-item">
                    <p class="text-muted m-0">Total settled</p>
                    <h6 class="m-0">N/A</h6>
                </li>                                
            </ul>
        </div>
    </div>
</div>